<div class="container">
    <h3 class="text-center">Select a restaurant to place your order</h3>

    <div class="row">
        <div class="col card">
            <div class="card-body">
                <h4>DMV Seafood</h4>
                <p>30 Riggs Road,Laurel, MD 20906</p>
                <p>Contact: 2025778221 dmvseafood.com</p>
                <p>
                    <h5>Menu</h5>
                    <p>Ultimate Feast</p>
                    <div>
                        <img src="/public/images/menu.jpg" style="width: 90%"/>
                        <div>Tender Maine lobster tail, wild-caught North American snow crab legs, 
			         our signature hand-crafted garlic shrimp scampi and Walt’s Favorite Shrimp.
                      </div>
                           <div>price:$45.99</div>
                    </div>
                </p>
                <a href="DMV Seafood" class="btn btn-primary">Place Order</a>
            </div>
        </div>

        <div class="col card">
            <div class="card-body">
                <h4>Houston BBQ </h4>
                <p>50 Blair road, Rockville, MD 20740 </p>
                 <p>Contact: 4042184320 houstonbbq.com</p>
                <p>
                    <h5>Menu</h5>
                    <p>Fire-Grilled Ribeye</p>
                    <div>
                        <img src="/public/images/menu2.jpg" style="width: 90%" />
                        <div>A combination of the rich marbled flavor of a and smothered with mushrooms, savory garlic  sauce and crispy onions. 
                        Served with Parmesan Creamed Spinach</div>
                        <div>price:$25.99</div>
                    </div>
                </p>
                <a href="Houston BBQ" class="btn btn-primary">Place Order</a>
            </div>
        </div>

        <div class="col card">
            <div class="card-body">
                <h4>The Seafood Chateau</h4>
               <p>250 Spring Way, Bowie, MD 20740 </p>
                <p>Contact: 2405536021 seafoodchateau.com</p>
                <p>
                    <h5>Menu</h5>
                    <p>Mediterranean Sea bass</p>
                    <div>
                        <img src="/public/images/menu3.jpg" style="width: 90%" />
                        <div>Blackened and topped with shrimp tossed in a Cajun butter sauce.
							 Garnished with tomato-cilantro relish, served with fries and coleslaw</div>
                        <div>price:49.99</div>    
                    </div>
                </p>
                <a href="The Seafood Chateau" class="btn btn-primary">Place Order</a>
            </div>
        </div>
    </div>
</div>