<%# Welcome Page  */%> 
<div class ="col-md-4 m-auto">
<div class="card card-body text-center"
			<p> Create an Account or Login. </p>		
			<a href="users/register" class="reg"> Register</a>			
			<a href="users/login" class="log"> Login</a>

</div>
</div>